.header {
    background-color: rgb(18, 18, 18);
    padding: 10px;
    text-align: center;
    height: 20px;
    scroll-snap-align: start;
  }

  .container-header {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 5vw;
    max-width: 1440px;
    margin: 0 auto;
  }
