.header {
    background-color: none;
    padding: 10px;
    text-align: center;
    height: 20px;
    scroll-snap-align: start;
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  a{
    font-weight: bold;
    text-decoration: none; 
    color: rgb(230,230,230);  
    text-wrap: nowrap;
  }

  
  .container-header {
    
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 4dvw;
    width: auto;
    max-width: 400px;
    
    border-radius: 999px;
    margin: 0 auto;
    padding: 0.5rem 1rem;

  }

  .container-header.scrolled { 
    background-color: rgb(28, 26, 26);
    z-index: 1000;
    border: 2px solid rgb(36, 31, 31);
  }

  .container-header a:hover{
    color: rgb(160, 110, 200); 
  }