.home-page{
    padding: 0rem 5% 5rem;
    display: grid;
    grid-template-rows: auto 1fr auto;
    
}
.presentation,
.projects,
.experiences {
  scroll-snap-align: start;
}
.experience{
    scroll-snap-align: end;
}
.presentation{
    
    min-height: calc(100dvh - (60px));
    
    display: flex;
    gap: 8rem;
    justify-content: center;
    align-items: center;

}

.presentation h1{
    font-size: 2rem;
    color: rgb(95, 9, 95);
    color: rgb(93, 41, 124);
    margin: 0;
}

.presentation h3{
    font-size: 1rem;
    margin: 0;
}

.social-icons{ 
    padding-top: 1rem;
    display: flex;
    gap: 1rem;
    
}

.social-icon{
    transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.social-icon:hover{ 
    outline: 2px solid rgb(111, 78, 130); 
    border-radius: 50%;
    outline-offset: 4px;
  }


.ian-img{ 
    border-radius: 50%;
}

.ian-img img{ 
    position: relative;
    width: 15rem;
    border-radius: 50%;
    
}


@keyframes slideUp {
    0% {
      opacity: 0;
      transform: translateY(100px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes slideDown {
    0% {
      opacity: 0;
      transform: translateY(-100px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .text {
    animation: slideUp 1s ease-out forwards;
    opacity: 0;
  }
  
  .ian-img {
    animation: slideDown 1s ease-out forwards;
    opacity: 0;
  }
.projects {
    margin-top: 4rem;
    padding: 0 5%;
    margin-bottom: 5rem;
    

  }
  
.projects h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3rem;
    
  }

.project{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 8rem;
    margin-bottom: 1rem;
}

.project-info h3{ 
    margin: 0em;
}
.project-info {
    display: flex;
    flex-direction: column;
}


.project-image img{
    display: block;
    justify-self: end;
    border-radius: 2.5%;    
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    transition: box-shadow 0.3s ease, transform 0.2s ease;
    
}

.project-image img:hover {
    
    /* box-shadow: 0 0 5px 4px #6a426a; */ 
    transform: scale(1.02);        
    cursor: pointer;
    
        outline: 2px solid rgb(111, 78, 130);
        outline-offset: 4px;
    
  }
.icons-container{
    display: flex;
    gap: 0.5rem;  
    align-self: end;
    padding-right: 2rem;
    
}

.experiences {
    margin-bottom: 5rem;

  }

.experiences h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3rem;
    
  }

.experience{
    display: grid;
    justify-self: center;
    grid-template-columns: 0.5fr 2fr;
    position: relative;
    border-left: 0.2rem solid rgb(223,228,234);
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;   
    max-width: 800px;
 
}

.experience::before {
    content: '';
    position: absolute;
    top: 1.5rem; 
    left: -0.55rem; 
    width: 12px;
    height: 12px;
    background-color: rgb(111, 78, 130); 
    border-radius: 50%;
    border: 2px solid rgb(223,228,234); 
  }

    
  .studies h2{
        text-align: center;
        font-size: 2rem;
        margin-bottom: 3rem;
        
  }

  .studyIMG img{
    height: 100px;
    
    
  }
  .study{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2rem;
    position: relative;
    padding-bottom: 2rem;
    
    max-width: 550px;
    align-items: center;
    margin: 0 auto;
    
  }

.technologies{
        text-align: center;
        font-size: 2rem;
        margin-bottom: 3rem;
}
.carousel {
  display: flex;
  justify-content: end;
  overflow: hidden;
  width: 100%;

}

.image-container {
  display: flex;
  justify-items: stretch;
  animation: scroll 12s linear infinite;
  gap: 8rem;
}
.carousel:hover .image-container {
  animation-play-state: paused;
}

.social-icon {
  color: rgb(230,230,230); 
  width: 25px;
  height: 25px;
}
@keyframes scroll {
  to{
    translate: calc(-4*250px)
  }
}

@media(min-height:1100px){
  .presentation{
     min-height: max-content;
     height: 1100px;
  }
}

@media (max-width: 650px) {
  .presentation {
    gap: 2rem;
  }
  .project{
    gap: 2rem;
  }
}



@media(max-width: 600px){
    .presentation{
        flex-direction: column;
    }
    .project{
        grid-template-columns: 1fr;
    }
    .experience{
        grid-template-columns: 1fr;
    }
    .experience-summary{
        padding-bottom: 1rem;
    }
    .text {
        animation: slideDown 1s ease-out forwards;
        opacity: 0;
      }
      
      .ian-img {
        animation: slideUp 1s ease-out forwards;
        opacity: 0;
      }
}
