.home-page{
    padding: 0rem 5% 5rem;
    display: grid;
    grid-template-rows: auto 1fr auto;
    
}
.presentation,
.projects,
.experiences {
  scroll-snap-align: start;
}
.experience{
    scroll-snap-align: end;
}
.presentation{
    
    min-height: calc(100dvh - (60px));
    
    display: flex;
    gap: 8rem;
    justify-content: center;
    align-items: center;

}

.presentation h1{
    font-size: 2rem;
    color: rgb(95, 9, 95);
    color: rgb(111, 78, 130);
    margin: 0;
}

.presentation h3{
    font-size: 1rem;
    margin: 0;
}

.social-icons{ 
    padding-top: 1rem;
    display: flex;
    gap: 1rem;
    height: 25px;
    
}

.social-icon{
    transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.social-icon:hover{ 
    outline: 2px solid rgb(111, 78, 130); 
    border-radius: 50%;
    outline-offset: 4px;
  }
.cv-button {
  display: inline-flex;
  align-items: center;
  gap: 0.2rem;
  
  border-radius: 999px;
  background-color: rgb(111, 78, 130);
  padding: 0.1rem 0.5rem;
  color: white;
  font-weight: 500;
  text-decoration: none;
  font-size: 0.5rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.cv-button:hover {
  
  transform: translateY(-2px);
}
.cv-icon{
  padding-top: 1px;
  width: 15px;
  height: 15px;
}

.ian-img{ 
    border-radius: 50%;
}

.ian-img img{ 
    position: relative;
    width: 15rem;
    border-radius: 50%;
    
}


@keyframes slideUp {
    0% {
      opacity: 0;
      transform: translateY(100px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes slideDown {
    0% {
      opacity: 0;
      transform: translateY(-100px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .text {
    animation: slideUp 1s ease-out forwards;
    opacity: 0;
  }
  
  .ian-img {
    animation: slideDown 1s ease-out forwards;
    opacity: 0;
  }
.projects {
    margin-top: 4rem;
    padding: 0 5%;
    margin-bottom: 5rem;
    

  }
  
.projects h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3rem;
    
  }

.project{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 8rem;
    margin-bottom: 1rem;
}

.project-info h3{ 
    margin: 0em;
}
.project-info {
    display: flex;
    flex-direction: column;
}


.project-image img{
    display: block;
    justify-self: end;
    border-radius: 2.5%;    
    width: 100%;
    max-width: 800px;
    object-fit: cover;
    overflow: hidden;
    transition: box-shadow 0.3s ease, transform 0.2s ease;
    
}

.project-image img:hover {
    
    /* box-shadow: 0 0 5px 4px #6a426a; */ 
    transform: scale(1.02);        
    cursor: pointer;
    
        outline: 2px solid rgb(111, 78, 130);
        outline-offset: 4px;
    
  }
.icons-container{
    display: flex;
    gap: 0.5rem;  
    align-self: end;
    padding-right: 2rem;
    
}

.experiences {
    margin-bottom: 5rem;

  }

.experiences h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3rem;
    
  }

.experience{
    display: grid;
    justify-self: center;
    grid-template-columns: 0.5fr 2fr;
    position: relative;
    border-left: 0.2rem solid rgb(111, 78, 130);
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;   
    max-width: 800px;
 
}

.experience::before {
    content: '';
    position: absolute;
    top: 1.5rem; 
    left: -0.55rem; 
    width: 12px;
    height: 12px;
    background-color: rgb(111, 78, 130); 
    border-radius: 50%;
    border: 2px solid rgb(48, 48, 54); 
  }

.about-me h2{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3rem;
}
.about-me{
  justify-items: center;
  margin-bottom: 5rem;
}
  
.about-container{
  max-width: 400px;
}
.about-carousel img{

  height: 300px;
  width: 500px;
  object-fit: cover;
}
.technologies h2{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3rem;
}
.technologies{
  width: 100%;
  overflow: hidden;
  margin-bottom: 5rem;
}
.carousel {
  
  overflow: hidden;
  width: 100dvw;
  max-width: 1400px;
  
  
}

.image-container {
  display: flex;
  justify-items: stretch;
  width: max-content; 
  animation: scroll 12s linear infinite;
  gap: 0.5rem;
  
}
.carousel:hover .image-container {
  animation-play-state: paused;
}

.social-icon {
  color: rgb(230,230,230); 
  width: 25px;
  height: 25px;
}

.info-icon {
  color: rgb(230,230,230); 
  width: 25px;
  height: 25px;
}
.skill-card h4{
  font-size: 1rem;
}
.skill-card{
  text-align: center;
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(90, 74, 105, 0.484); 
  padding: 2rem;
  border-radius: 10%;
  background-color: rgba(35, 31, 31, 0.84);
  width: 100px;
  

}

.skill-icon {
  color: rgb(230,230,230); 
  width: 50px;
  height: 50px;
  padding-bottom: 1rem;
  
}
@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}


.studies h2{
        text-align: center;
        font-size: 2rem;
        margin-bottom: 3rem;
        
  }

  .studies{
    margin-bottom: 5rem;
  }

  .studyIMG img{
    height: 100px;
    
    
  }
  .study{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2rem;
    position: relative;
    padding-bottom: 2rem;
    
    max-width: 550px;
    align-items: center;
    margin: 0 auto;
    
  }

@media(min-height:1100px){
  .presentation{
     min-height: max-content;
     height: 1100px;
  }
}

@media (max-width: 650px) {
  .presentation {
    gap: 2rem;
  }
  .project{
    gap: 2rem;
  }
}



@media(max-width: 600px){
    .presentation{
        flex-direction: column;
    }
    .project{
        grid-template-columns: 1fr;
    }
    .experience{
        grid-template-columns: 1fr;
    }
    .experience-summary{
        padding-bottom: 1rem;
    }
    .text {
        animation: slideDown 1s ease-out forwards;
        opacity: 0;
      }
      
      .ian-img {
        animation: slideUp 1s ease-out forwards;
        opacity: 0;
      }
}
