html,
body {
  /*scroll-snap-type: y mandatory;*/
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(18, 18, 18);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul{
  color: rgb(223,228,234);
}
span{
  color: rgb(223,228,234);
}
p{
  color: rgb(223,228,234);
  
}
h2{
  color: rgb(223,228,234);
}
h3 { 
  margin: 0;
  color: rgb(223,228,234);
}
h4{
  color: rgb(223,228,234);
  margin: 0;
}
time{ 
  color: rgb(223,228,234);
  display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
.app {
  max-width: 1440px; 
  width: 100%; 
  margin: 0 auto; 
}
